.header {
    height: 18%;
    color: white;
    padding-bottom: 20px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url("../../assets/img/cars.jpg");

    &::after {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background-color: var(--black-transparent);
    }

    @media (--phablet) {
        height: 20%;
    }

    @media (--medium) {
        height: 25%;
    }

    @media (--tablet) {
        height: 30%;
    }

    @media (--large) {
        height: 35%;
        background-size: contain;
        background-attachment: fixed;
        background-position: center -20px;
    }
}
