.h1 {
    font-size: var(--h1-font-size);

    @media (--large) {
        font-size: var(--h1-font-size-large);
    }

    &--hero {
        z-index: 1;
        position: relative;
        line-height: 1.2;
        font-size: var(--h1-font-size-hero);
        text-shadow: 2px 2px 4px var(--black-transparent), 0 -2px 4px var(--black-transparent);

        @media (--medium) {
            font-size: var(--h1-font-size-hero-medium);
        }

        @media (--large) {
            font-size: var(--h1-font-size-hero-large);
            text-shadow: 4px 10px 12px var(--black-transparent), 0 -4px 12px var(--black-transparent);
        }

        &.is-animated {
            opacity: 0;
            animation: spacing .8s .2s forwards;
        }
    }
}

.h2 {
    font-size: var(--h2-font-size);

    @media (--large) {
        font-size: var(--h2-font-size-large);
    }
}

.h3 {
    font-size: var(--h3-font-size);

    @media (--large) {
        font-size: var(--h3-font-size-large);
    }
}

.h4 {
    font-size: var(--h4-font-size);

    @media (--large) {
        font-size: var(--h4-font-size-large);
    }
}

.h5 {
    font-size: var(--h5-font-size);

    @media (--large) {
        font-size: var(--h5-font-size-large);
    }
}

.h6 {
    font-size: var(--h6-font-size);
}
