/* Vendor */
@import "normalize.css";

/* Base */
@import "base/variables";
@import "base/mixins";
@import "base/fonts";
@import "base/elements";

/* Components */
@import "components/headings";
@import "components/main";
@import "components/wrapper";
@import "components/header";
@import "components/row";
@import "components/rangeslider";
@import "components/custom-input";
@import "components/button";
@import "components/result";
@import "components/animations";
@import "components/icon";
@import "components/footer";

/* Helpers */
@import "base/utilities";